.component-display-container {
	padding: 1.5rem;
	border-radius: 0%;
	border: 0;
	max-width: none;
	margin-top: 0;
	box-shadow: 5px 5px 1.5rem 2px var(--BOX-SHADOW);
}
.badge {
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
	background-color: var(--NOTIFICATION-COLOR);
	color: var(--COLOR-WHITE);
	text-align: center;
	font-size: x-small;
	position: absolute;
	padding-top: 5px;
}
.card-container:hover {
	transform: scale(1.05) rotate(2deg);
}
.card-shadow:hover {
	transform: scale(1.02);
}
.input {
	padding: 0 1rem;
	border-radius: 2px 0 0 2px;
	border: 0;
	outline: 0 none;
	font-size: 1.5rem;
	height: 4.25rem;
	width: 100%;
}
.search-bar {
	display: flex;
	position: static;
	float: none;
	flex-flow: row nowrap;
	z-index: 5;
}
.overlay-text {
	position: absolute;
	width: 100%;
	top: 15rem;
	left: 0;
	background-color: var(--COLOR-SOCIAL-ICON);
	color: var(--COLOR-WHITE);
	padding: 1rem 1rem 1rem 1rem;
	border-radius: 4px;
	text-align: center;
}
.card-change {
	margin: auto;
	display: inline;
	outline: 0;
	border-radius: 5px;
}
.rt {
	top: 120%;
	right: 0;
	z-index: 2;
	color: var(--off-green);
	vertical-align: middle;
}
.lt {
	top: 120%;
	left: 0;
	z-index: 2;
	color: aliceblue;
	vertical-align: middle;
}
.card-change:hover {
	transform: scale(1.5);
}
.button {
	color: var(--COLOR-BLACK);
}
.vertical-cards {
	border-collapse: separate;
	border-spacing: 0 15px;
}
.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	margin: 5rem 0 auto;
	padding: var(--space-10);
	background-color: var(--secondary-text);
	color: var(--font-silver);
}
.footer-logo {
	font-size: 7rem;
	text-align: left;
	color: var(--COLOR-SECONDARY);
}
.footer-nav {
	display: flex;
	font-size: large;
	gap: 2rem;
}
.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.link {
	color: var(--COLOR-WHITE);
}
.flex-items {
	flex-wrap: wrap;
	justify-content: space-around;
	row-gap: 1.5rem;
}
