<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>E-commerce | products</title>
		<script
			src="https://kit.fontawesome.com/6056b5574b.js"
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://xero-cl-netlify.netlify.app/css/component.css"
		/>
		<link rel="stylesheet" href="/css/component.css" />
	</head>
	<body>
		<div class="component-display-container nav-bar">
			<div class="nav-container">
				<div class="nav-brand"
					><img class="logo" src="/assets/logo.png" alt="logo" />
					<a class="component-library-link nav-icons" href="../../index.html">
						<i class="fa">Xero</i></a
					></div
				>
				<div class="search-bar">
					<input class="input" placeholder="Search for products..." />
					<button class="search-btn fa fa-search"></button>
				</div>
				<ul class="nav-flex">
					<div class="badge-wrapper"
						><li class="list-style">
							<a class="link" href="#">
								<i class="fa nav-icons">Login</i>
							</a>
						</li>
					</div>
					<div class="badge-wrapper"
						><li class="list-style">
							<a class="link" href="/components/Wishlist/wishlist.html">
								<i class="fa fa-heart nav-icons"></i>
								<div class="badge icon">5</div>
							</a>
						</li>
					</div>
					<div class="badge-wrapper"
						><li class="list-style">
							<a class="link" href="/components/Cart/cart.html">
								<i class="fa fa-shopping-cart nav-icons"></i>
								<div class="badge icon">5</div>
							</a>
						</li>
					</div>
				</ul>
			</div>
		</div>
		<main class="main-container">
			<div class="component-display-container cart-items vertical-cards">
				<div class="cart-header">
					<h1 class="fa">My Cart</h1>
				</div>
				<div class="flex-items">
					<div class="cart-comp">
						<img src="/assets/cp1.jpg" alt="img" />
						<div class="cart-des">
							<h2 class="prd-title fa"> God Of War </h2>
							<p class="card-item-cost">Rs.3299</p>
							<p class="card-item-cost txt-strike-through txt-secondary"
								>Rs.3999</p
							>
							<button class="btn btn-prm">Remove from Cart</button>
							<button class="btn btn-sec">Move To Wishlist</button>
							<div class="cart-qty-con">
								<label for="quantity">Quantity:</label>
								<select name="quantity" id="quantity">
									<option value="1" selected="">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
								<button class="trash-btn">
									<i class="fa fa-trash-o"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="checkout-container">
						<div class="checkout">
							<h3 class="checkout-title">Checkout</h3>
							<hr />
							<div class="checkout-des">
								<p>Price (1 item)</p>
								<p class="checkout-des-price">$3999</p>
							</div>
							<div class="checkout-des">
								<p>Discount</p>
								<p class="checkout-des-price">-$700</p>
							</div>
							<div class="checkout-des">
								<p>Delivery Charges</p>
								<p class="checkout-des-price">$49</p>
							</div>
							<hr />
							<div class="checkout-des">
								<h3>TOTAL</h3>
								<h3 class="checkout-des-price">$3250</h3>
							</div>
							<hr />
							<p>You will save $749 on this order</p>

							<button class="checkout-btn">PLACE ORDER</button>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="footer-content">
				<div>
					<img class="footer-logo" src="/assets/logo.png" alt="logo" />
				</div>
				<div class="footer-nav">
					<a class="link" href="https://github.com/unvhulk">
						<i class="fa fa-github social-icons"> GITHUB</i></a
					>

					<a class="link" href="https://www.linkedin.com/in/unv/">
						<i class="fa fa-linkedin-square social-icons"> LINKEDIN</i></a
					>

					<a class="link" href="https://twitter.com/UNVishwakarma">
						<i class="fa fa-twitter social-icons"> TWITTER</i></a
					>
				</div>
			</div>
		</footer>
	</body>
</html>
