<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>E-commerce | Log Out</title>
		<script
			src="https://kit.fontawesome.com/6056b5574b.js"
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://xero-cl-netlify.netlify.app/css/component.css"
		/>
		<link rel="stylesheet" href="/css/component.css" />
	</head>
	<body>
		<div class="component-display-container nav-bar">
			<div class="nav-container">
				<div class="nav-brand"
					><img class="logo" src="/assets/logo.png" alt="logo" />
					<a class="component-library-link nav-icons" href="../../index.html">
						<i class="fa">Xero</i></a
					></div
				>
				<div class="search-bar">
					<input class="input" placeholder="Search for products..." />
					<button class="search-btn fa fa-search"></button>
				</div>
				<ul class="nav-flex">
					<div class="badge-wrapper"
						><li class="list-style">
							<a class="link" href="/components/Login/login.html">
								<i class="fa nav-icons">Login</i>
							</a>
						</li>
					</div>
					<div class="badge-wrapper"
						><li class="list-style">
							<a class="link" href="/components/Wishlist/wishlist.html">
								<i class="fa fa-heart nav-icons"></i>
								<div class="badge icon">5</div>
							</a>
						</li>
					</div>
					<div class="badge-wrapper"
						><li class="list-style">
							<a class="link" href="/components/Cart/cart.html">
								<i class="fa fa-shopping-cart nav-icons"></i>
								<div class="badge icon">5</div>
							</a>
						</li>
					</div>
				</ul>
			</div>
		</div>
		<main class="main-container form">
			<div class="component-display-container cart-items flex-items">
				<div class="component-display-container form-con">
					<div class="cart-header">
						<h1 class="fa">logged out</h1>
					</div>
					<div class="input-form">
						<h3 class="md-text h3">You have been successfully logged out.</h3>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="footer-content">
				<div>
					<img class="footer-logo" src="/assets/logo.png" alt="logo" />
				</div>
				<div class="footer-nav">
					<a class="link" href="https://github.com/unvhulk">
						<i class="fa fa-github social-icons"> GITHUB</i></a
					>

					<a class="link" href="https://www.linkedin.com/in/unv/">
						<i class="fa fa-linkedin-square social-icons"> LINKEDIN</i></a
					>

					<a class="link" href="https://twitter.com/UNVishwakarma">
						<i class="fa fa-twitter social-icons"> TWITTER</i></a
					>
				</div>
			</div>
		</footer>
	</body>
</html>
