<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>E-commerce | products</title>
		<script
			src="https://kit.fontawesome.com/6056b5574b.js"
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://xero-cl-netlify.netlify.app/css/component.css"
		/>
		<link rel="stylesheet" href="/css/component.css" />
	</head>
	<body>
		<div class="component-display-container nav-bar">
			<div class="nav-container">
				<div class="nav-brand"
					><img class="logo" src="/asssets/logo.svg" alt="logo" />
					<a class="component-library-link nav-icons" href="../../index.html">
						<i class="fa">Xero</i></a
					></div
				>
				<div class="search-bar">
					<input
						class="input"
						placeholder="Search for products, brands and more..."
					/>
					<button class="search-btn fa fa-search"></button>
				</div>
				<ul class="nav-flex">
					<div class="badge-wrapper"
						><li class="list-style">
							<a class="link" href="#">
								<i class="fa nav-icons">Login</i>
							</a>
						</li>
					</div>
					<div class="badge-wrapper"
						><li class="list-style">
							<a class="link" href="#">
								<i class="fa fa-heart nav-icons"></i>
								<div class="badge icon">8</div>
							</a>
						</li>
					</div>
					<div class="badge-wrapper"
						><li class="list-style">
							<a class="link" href="#">
								<i class="fa fa-shopping-cart nav-icons">Cart</i>
								<div class="badge icon">8</div>
							</a>
						</li>
					</div>
				</ul>
			</div>
		</div>
		<main class="main-container">
			<div class="side-bar">
				<div class="inline">
					<p class="fa">Filters</p>
					<p class="fa align">Clear</p>
				</div>
			</div>
		</main>
	</body>
</html>
