<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>E-commerce | products</title>
		<script
			src="https://kit.fontawesome.com/6056b5574b.js"
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://xero-cl-netlify.netlify.app/css/component.css"
		/>
		<link rel="stylesheet" href="/css/component.css" />
	</head>
	<body>
		<div class="component-display-container nav-bar">
			<div class="nav-container">
				<div class="nav-brand"
					><img class="logo" src="/assets/logo.png" alt="logo" />
					<a class="component-library-link nav-icons" href="../../index.html">
						<i class="fa">Xero</i></a
					></div
				>
				<div class="search-bar">
					<input class="input" placeholder="Search for products..." />
					<button class="search-btn fa fa-search"></button>
				</div>
				<ul class="nav-flex">
					<div class="badge-wrapper"
						><li class="list-style">
							<a class="link" href="#">
								<i class="fa nav-icons">Login</i>
							</a>
						</li>
					</div>
					<div class="badge-wrapper"
						><li class="list-style">
							<a class="link" href="/components/Wishlist/wishlist.html">
								<i class="fa fa-heart nav-icons"></i>
								<div class="badge icon">5</div>
							</a>
						</li>
					</div>
					<div class="badge-wrapper"
						><li class="list-style">
							<a class="link" href="/components/Cart/cart.html">
								<i class="fa fa-shopping-cart nav-icons"></i>
								<div class="badge icon">5</div>
							</a>
						</li>
					</div>
				</ul>
			</div>
		</div>
		<main class="main-container">
			<aside class="position-fixed sidebar-flex">
				<div class="sidebar-header">
					<h2 class="margin">Filters</h2>
					<p class="margin">Clear</p>
				</div>
				<h3>Price</h3>
				<div class="filter">
					<label for="radio-1">
						<input class="margin" id="radio-1" name="radio" type="radio" />Low
						to High
					</label>
					<label for="radio-2">
						<input class="margin" id="radio-2" name="radio" type="radio" />High
						to Low
					</label>
				</div>
				<h3>Category</h3>
				<div class="filter">
					<label for="checkbox-1">
						<input
							class="margin"
							id="checkbox-1"
							name="checkbox"
							type="checkbox"
						/>Action
					</label>
					<label for="checkbox-2">
						<input
							class="margin"
							id="checkbox-2"
							name="checkbox"
							type="checkbox"
						/>Adventure
					</label>
					<label for="checkbox-3">
						<input
							class="margin"
							id="checkbox-3"
							name="checkbox"
							type="checkbox"
						/>Puzzle
					</label>
					<label for="checkbox-4">
						<input
							class="margin"
							id="checkbox-4"
							name="checkbox"
							type="checkbox"
						/>Horror
					</label>
					<label for="checkbox-5">
						<input
							class="margin"
							id="checkbox-5"
							name="checkbox"
							type="checkbox"
						/>RPG
					</label>
				</div>
				<h3>Ratings</h3>
				<div class="filter">
					<label for="rating-radio-1">
						<input
							class="margin"
							id="rating-radio-1"
							name="radio"
							type="radio"
						/>4 Star & above
					</label>
					<label for="rating-radio-2">
						<input
							class="margin"
							id="rating-radio-2"
							name="radio"
							type="radio"
						/>3 Star & above
					</label>
					<label for="rating-radio-3">
						<input
							class="margin"
							id="rating-radio-3"
							name="radio"
							type="radio"
						/>2 Star & above
					</label>
					<label for="rating-radio-4">
						<input
							class="margin"
							id="rating-radio-4"
							name="radio"
							type="radio"
						/>1 Star & above
					</label>
				</div>
			</aside>
			<div class="component-display-container flex-items vertical-cards">
				<div class="card-container card-shadow">
					<div class="parent-positioning">
						<div class="card-margin"
							><img src="/assets/cp1.jpg" alt="card-image"
						/></div>
						<div class="inside-container">
							<h3>God Of War</h3>
							<span class="card-content">Latest Arrival</span>
							<p class="card-item-cost">Rs.3999</p>
							<button class="button card-button">Add to Cart</button>
							<span class="badge-overlay">New</span>
							<i class="fa fa-heart-o icon-btn icon-size icon-overlay"></i>
						</div>
					</div>
				</div>
				<div class="card-container card-shadow">
					<div class="parent-positioning">
						<div class="card-margin"
							><img src="/assets/cp1.jpg" alt="card-image"
						/></div>
						<div class="inside-container">
							<h3>God Of War</h3>
							<span class="card-content">Latest Arrival</span>
							<p class="card-item-cost">Rs.3999</p>
							<button class="button card-button">Add to Cart</button>
							<span class="badge-overlay">New</span>
							<i class="fa fa-heart-o icon-btn icon-size icon-overlay"></i>
						</div>
					</div>
				</div>
				<div class="card-container card-shadow">
					<div class="parent-positioning">
						<div class="card-margin"
							><img src="/assets/cp1.jpg" alt="card-image"
						/></div>
						<div class="inside-container">
							<h3>God Of War</h3>
							<span class="card-content">Latest Arrival</span>
							<p class="card-item-cost">Rs.3999</p>
							<button class="button card-button">Add to Cart</button>
							<span class="badge-overlay">New</span>
							<i class="fa fa-heart-o icon-btn icon-size icon-overlay"></i>
						</div>
					</div>
				</div>
				<div class="card-container card-shadow">
					<div class="parent-positioning">
						<div class="card-margin"
							><img src="/assets/cp1.jpg" alt="card-image"
						/></div>
						<div class="inside-container">
							<h3>God Of War</h3>
							<span class="card-content">Latest Arrival</span>
							<p class="card-item-cost">Rs.3999</p>
							<button class="button card-button">Add to Cart</button>
							<span class="badge-overlay">New</span>
							<i class="fa fa-heart-o icon-btn icon-size icon-overlay"></i>
						</div>
					</div>
				</div>
				<div class="card-container card-shadow">
					<div class="parent-positioning">
						<div class="card-margin"
							><img src="/assets/cp1.jpg" alt="card-image"
						/></div>
						<div class="inside-container">
							<h3>God Of War</h3>
							<span class="card-content">Latest Arrival</span>
							<p class="card-item-cost">Rs.3999</p>
							<button class="button card-button">Add to Cart</button>
							<span class="badge-overlay">New</span>
							<i class="fa fa-heart-o icon-btn icon-size icon-overlay"></i>
						</div>
					</div>
				</div>
				<div class="card-container card-shadow">
					<div class="parent-positioning">
						<div class="card-margin"
							><img src="/assets/cp1.jpg" alt="card-image"
						/></div>
						<div class="inside-container">
							<h3>God Of War</h3>
							<span class="card-content">Latest Arrival</span>
							<p class="card-item-cost">Rs.3999</p>
							<button class="button card-button">Add to Cart</button>
							<span class="badge-overlay">New</span>
							<i class="fa fa-heart-o icon-btn icon-size icon-overlay"></i>
						</div>
					</div>
				</div>
				<div class="card-container card-shadow">
					<div class="parent-positioning">
						<div class="card-margin"
							><img src="/assets/cp1.jpg" alt="card-image"
						/></div>
						<div class="inside-container">
							<h3>God Of War</h3>
							<span class="card-content">Latest Arrival</span>
							<p class="card-item-cost">Rs.3999</p>
							<button class="button card-button">Add to Cart</button>
							<span class="badge-overlay">New</span>
							<i class="fa fa-heart-o icon-btn icon-size icon-overlay"></i>
						</div>
					</div>
				</div>
				<div class="card-container card-shadow">
					<div class="parent-positioning">
						<div class="card-margin"
							><img src="/assets/cp1.jpg" alt="card-image"
						/></div>
						<div class="inside-container">
							<h3>God Of War</h3>
							<span class="card-content">Latest Arrival</span>
							<p class="card-item-cost">Rs.3999</p>
							<button class="button card-button">Add to Cart</button>
							<span class="badge-overlay">New</span>
							<i class="fa fa-heart-o icon-btn icon-size icon-overlay"></i>
						</div>
					</div>
				</div>
				<div class="card-container card-shadow">
					<div class="parent-positioning">
						<div class="card-margin"
							><img src="/assets/cp1.jpg" alt="card-image"
						/></div>
						<div class="inside-container">
							<h3>God Of War</h3>
							<span class="card-content">Latest Arrival</span>
							<p class="card-item-cost">Rs.3999</p>
							<button class="button card-button">Add to Cart</button>
							<span class="badge-overlay">New</span>
							<i class="fa fa-heart-o icon-btn icon-size icon-overlay"></i>
						</div>
					</div>
				</div>
				<div class="card-container card-shadow">
					<div class="parent-positioning">
						<div class="card-margin"
							><img src="/assets/cp1.jpg" alt="card-image"
						/></div>
						<div class="inside-container">
							<h3>God Of War</h3>
							<span class="card-content">Latest Arrival</span>
							<p class="card-item-cost">Rs.3999</p>
							<button class="button card-button">Add to Cart</button>
							<span class="badge-overlay">New</span>
							<i class="fa fa-heart-o icon-btn icon-size icon-overlay"></i>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="footer-content">
				<div>
					<img class="footer-logo" src="/assets/logo.png" alt="logo" />
				</div>
				<div class="footer-nav">
					<a class="link" href="https://github.com/unvhulk">
						<i class="fa fa-github social-icons"> GITHUB</i></a
					>

					<a class="link" href="https://www.linkedin.com/in/unv/">
						<i class="fa fa-linkedin-square social-icons"> LINKEDIN</i></a
					>

					<a class="link" href="https://twitter.com/UNVishwakarma">
						<i class="fa fa-twitter social-icons"> TWITTER</i></a
					>
				</div>
			</div>
		</footer>
	</body>
</html>
